.app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "top top top"
    "left center right"
    "foo foo foo";
  grid-auto-rows: 50px 1fr 30px;
  grid-auto-columns: 260px 1fr 260px;

  * {
    box-sizing: border-box;
  }
}

.header {
  grid-area: top;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.left {
  grid-area: left;
  background: #fff;
  border-right: 1px solid #eee;
}

.right {
  grid-area: right;
  background: #fff;
  border-left: 1px solid #eee;
}

.footer {
  grid-area: foo;
  background: #726d6d;
}

.main {
  grid-area: center;
}

.canvas {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

.overlay {
  position: fixed;
  top: 50px;
  bottom: 30px;
  left: 260px;
  right: 260px;
}

.space {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;

  &.dragging {
    cursor: grab;
    & > * {
      pointer-events: none;
    }
  }
}

.container {
  $bg-web: #f0efef;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background-image: linear-gradient($bg-web 3px, transparent 0),
    linear-gradient(90deg, $bg-web 3px, transparent 0),
    linear-gradient($bg-web 2px, transparent 0),
    linear-gradient(90deg, $bg-web 2px, transparent 0),
    linear-gradient($bg-web 1px, transparent 0),
    linear-gradient(90deg, $bg-web 1px, transparent 0);
  background-size: 128px 128px, 128px 128px, 32px 32px, 32px 32px, 16px 16px,
    16px 16px;
  background-position: 50% 50%;
}

.nodes-container,
.connections-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform-origin: center center;
}

.node {
  width: 120px;
  height: 120px;
  padding: 8px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node-grab-wrapper {
  transform-origin: center center;
  position: absolute;
  user-select: none;
  cursor: grab;

  &.grabbing {
    cursor: grabbing;
    z-index: 999999;

    > * {
      box-shadow: 0 0 5px 2px #a46daf;
    }
  }

  iframe {
    pointer-events: none;
  }
}

.space-control {
  position: absolute;
  left: 50%;
  bottom: 10px;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 0px 3px 1px #999;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    min-width: 30px;
    padding: 10px;
    height: 30px;
    background-color: #fff;
    cursor: pointer;
    color: #ccc;

    svg {
      path {
        fill: currentColor;
      }
    }

    &:hover,
    &.active {
      background-color: #ddd;
      color: #333;
    }

    &.scale-percent {
      background-color: #fff;
      color: #333;
    }
  }
}
